[flake8]
max-line-length = 99
exclude =
    .git
    __pycache__
    migrations
    project/settings
    apps/ltv_prediction
inline-quotes = single
multiline-quotes = double
docstring-quotes = double
