Django==2.1.5

# Pep rules
flake8==3.5.0
flake8-quotes==1.0.0

# testing packages
pytest==3.6.2
pylint
pytest-django==3.3.2
pytest-mock==1.10.0
pytest-cov
Pillow==5.4.1

# web server
gunicorn==19.9.0

# heroku
django-heroku==0.3.1

# linting
flake8==3.5.0
flake8-quotes==1.0.0
pylint


# Images
Pillow==5.4.1

# Social share
django-social-share==1.3.2
