{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 p-3">
            <h2>Proceed to checkout</h2>
            <h4>{{ game.title }}</h4>

            <p>{{ game.description }}</p>

            <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="post">
                {{ form }}
                <input type="submit" value="Confirm and pay">
            </form>
        </div>
    </div>
</div>
{% endblock content %}