{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="p-3">Global High Scores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Game</th>
                    <th scope="col">User</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for high_score in high_score_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ high_score.game__title }}</td>
                    <td>{{ high_score.user__email }}</td>
                    <td>{{ high_score.max_score}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% for high_score in high_scores %}

        {% endfor %}
    </div>
</div>
{% endblock content %}