<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        
        <a class="navbar-brand" href="{% url 'index_page_view' %}">Game shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index_page_view' %}">Browse Games</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'high_score_view' %}">High score</a>
                </li>
                
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.profile.is_developer %}
                                <a class="dropdown-item" href="{% url 'create_game_view' %}">
                                    Upload game
                                </a>
                                <a class="dropdown-item" href="{% url 'game_list_view' %}">
                                    My games
                                </a>
                                <a href="{% url 'developer_dashboard_view' %}" class="dropdown-item">
                                    Sales dashboard
                                </a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'purchased_game_view' %}">
                                    Purchased games
                                </a>
                          {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'logout_view' %}" class="nav-link">Logout</a>
                            </li>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign_up_form_view' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'log_in_django_view' %}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
