{% extends "main/base.html" %}

'title', 'url', 'description', 'price', 'category'

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <form method="POST" action="."> {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                        {{ form.title }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
                        {{ form.url }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                        {{ form.price }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                        {{ form.category }}
                    </div>

                    <button type="submit" class="btn btn-default">Create game</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}