{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 p-3">
            <h1>Edit {{ object.title }}</h1>

            <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
                    {{ form.url }}
                </div>

                <div class="form-group">
                    <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    {{ form.price }}
                </div>

                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>

                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                    {{ form.category }}
                </div>

                <div class="form-group">
                    <label for="{{ form.thumbnail.id_for_label }}">{{ form.thumbnail.label }}</label>
                    {{ form.thumbnail }}
                </div>

                <br />
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a href="{% url 'game_delete_view' object.pk  %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'game_list_view' %}" class="btn btn-default">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}