{% extends "main/base.html" %}

{% block css %}
	<meta name="twitter:card" content="summary" />
	<meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<meta property="og:title" content="{{ object.title }}" />
	<meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ game.thumbnail.url }}" />
{% endblock css %}

{% block content %}
{% load social_share %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 p-3">
            <h1>{{ object.title }}
                <small>by {{ object.developer.get_full_name }}</small>
            </h1>

            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ game.thumbnail.url }}" alt="{{ object.title }}">
                </div>

                <div class="col-md-8">
                    <h3 class="my-3">Description</h3>
                    <p>{{ object.description }}</p>
                    <hr id="hr-thick" class="d-none d-lg-block mb-0 ml-0">
                    <h3 class="my-3">Price</h3>
                    <p>${{ object.price }}</p>
                    {% if is_purchased %}
                    <a href="{% url 'play_game_view' game.id%}" class="btn btn-primary">Play</a>
                    {% else %}
                    <a href="{% url 'create_order_view' object.id %}" class="btn btn-primary">
                        Buy
                    </a>
                    {% endif %}
                    <a href="{% url 'index_page_view' %}" class="btn btn-default">
                        Go back
                    </a>

                    <section class="contact-section">
                        <div class="social d-flex">
                            <h4 class="my-2 mr-2">Share</h4>
                            {% post_to_facebook object.id.decode %}
                            {% post_to_twitter "{{object.title}} is an awesome game!" object.id.decode "Post to Twitter" %}
                        </div>
                    </section>
                </div>
            
                <h3 class="my-4 pt-5">You may also like:</h3>
                <div class="row">

                    {% for game in other_games %}

                    <div class="col-md-2 col-sm-6 mb-4">
                        <a href="{% url 'game_detail_view'  game.pk %}">
                            <img class="img-fluid" src="{{ game.thumbnail.url }}" alt="{{ object.title }}">
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}